.twitterLogo {
  font-family: "Bungee", cursive;
}

nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  color: #ffffff;
  background-color: #4056a1;
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
}

.arrow {
  display: flex;
  flex-direction: column;
  padding-right: 1.5em;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
