label {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#tweet-text {
  outline: 0;
  border-width: 0 0 4px;
  border-color: black;
  font-family: "Source Sans Pro", sans-serif;
  background-color: transparent;
  border-style: solid;
  font-weight: 300;
  resize: none;
  width: 100%;
  height: 25px;
}

.justTwitIt {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
  margin-top: 7px;
}

/* .counter{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  font-family: 'Bungee', cursive;
  
} */
.red {
  color: red;
}

button {
  border: none;
  background-color: #4056a1;
  color: #ffffff;
  /* font-family: 'Bungee', cursive; */
}

button:hover {
  box-shadow: 3px 3px 3px rgb(64 86 161 / 0.7);
}

#charOverLimit {
  color: red;
  font-size: 20px;
  background-color: #ffcaca;
  background-image: url(/Content/x.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 2px;
  padding: 5px;
  border-radius: 5px 5px 5px;
  border: 1px solid red;
  padding-left: 25px;
  position: relative;
}

#emptyTweet {
  color: red;
  font-size: 20px;
  background-color: #ffcaca;
  background-image: url(/Content/x.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 2px;
  padding: 5px;
  border-radius: 5px 5px 5px;
  border: 1px solid red;
  padding-left: 25px;
  position: relative;
}


/* @media screen and (min-width: 1024px){
  .new-tweet {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
} */

